<section class="pagina-inserzioni-agente">

  <!-- HEADER + BOTTONE AGGIUNGI -->
  <div class="header-con-bottone">
    <div>
      <h2 class="titolo-inserzioni">
        <span class="titolo-primary">Le mie</span>
        <span class="titolo-accent">Inserzioni</span>
      </h2>
    <p class="sottotitolo">
      Gestisci rapidamente tutte le inserzioni di cui ti occupi.
    </p>
    </div>

    <button class="add-button" (click)="vaiAggiungiInserzione()">
      + Nuova Inserzione
    </button>
  </div>

  @if (loading) {
    <div class="stato stato--info">
      Caricamento delle inserzioni in corso...
    </div>
  }

  @if (errorMessage) {
    <div class="stato stato--errore">
      {{ errorMessage }}
    </div>
  }

  @if (!loading && !errorMessage && mieInserzioni.length === 0) {
    <div class="stato stato--vuoto">
      <p>Non hai ancora inserzioni pubblicate.</p>
    </div>
  }

  @if (mieInserzioni.length > 0) {
    <div class="lista-inserzioni">
      @for (card of mieInserzioni; track card.idInserzione) {
        <app-inserzione-card
          [inserzione]="card"
          (click)="apriDettagli(card.idInserzione)">
        </app-inserzione-card>
      }
    </div>
  }

</section>
