<div class="reset-container">

  <div class="security-icon">
    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M12 2L4 6v6c0 5.55 3.84 10.74 9 12 5.16-1.26 9-6.45 9-12V6l-8-4z"/>
      <path d="M9 12l2 2 4-4"/>
    </svg>
  </div>

  <h2>
    Reimposta la tua password
    <span class="subtitle">Inserisci una nuova password sicura per il tuo account</span>
  </h2>

  <form [formGroup]="resetForm" (ngSubmit)="submitNewPassword()">

    <div class="input-group">
      <label for="newPassword">Nuova password</label>
      <div class="input-wrapper">
        <svg class="input-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <rect x="3" y="11" width="18" height="11" rx="2" ry="2"/>
          <path d="M7 11V7a5 5 0 0 1 10 0v4"/>
        </svg>
        <input
          id="newPassword"
          type="password"
          placeholder="Inserisci la nuova password"
          formControlName="newPassword"
          required
        />
      </div>
      <div class="password-requirements">Minimo 6 caratteri</div>
    </div>

    <div class="input-group">
      <label for="confirmPassword">Conferma password</label>
      <div class="input-wrapper">
        <svg class="input-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 2L4 6v6c0 5.55 3.84 10.74 9 12 5.16-1.26 9-6.45 9-12V6l-8-4z"/>
        </svg>
        <input
          id="confirmPassword"
          type="password"
          placeholder="Ripeti la password"
          formControlName="confirmPassword"
          required
        />
      </div>
    </div>

    <button type="submit" [disabled]="resetForm.invalid">
      Conferma e reimposta
    </button>

  </form>

  @if(message){
    <p [ngClass]="isSuccess ? 'success' : 'error'">{{ message }}</p>
  }

</div>
